.shoppingList {
	display: inline-block;
	text-align: center;
	margin-left: 75%;
	margin-top: 48px;
	margin-right: 2%;
	z-index: 1;
	border-color: #fff;
	border: 1px solid;
	width: 18%;
	min-width: 150px;
	min-height: 400px;
	max-height: 900px;
	float: right;
}

ul {
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}

.cartName {
	font-size: 12px;
}

.itemList {
	max-height: 320px;
	padding-bottom: 36px;
	overflow-y: auto;
}

.materialsTally {
	text-align: left;
	max-height: 400px;
	overflow-y: auto;
	font-size: 12px;
}

.tallyQuantity {
}

.tallyItem {
	word-wrap: normal;
}
