.shoppingList {
	display: inline-block;
	text-align: center;
	margin-left: 75%;
	margin-top: 48px;
	margin-right: 2%;
	z-index: 1;
	background-color: #333;
	width: 18%;
	min-width: 150px;
	min-height: 400px;
	max-height: 900px;
	float: right;
}

tr {
	width: 100%;
	vertical-align: middle;
}

.cartQuantityContainer {
	width: 50px;
	height: 25px;
	min-width: 65px;
	font-size: 12px;
}

.cartQuantity {
	display: inline-block;
	width: 24px;
	line-height: 20px;
	background-color: #333;
}

.cartEditQuantity {
	display: inline-block;
	width: 20px;
	line-height: 20px;
	vertical-align: middle;
	cursor: default;
}

.cartEditQuantity:hover {
	background-color: #aaa;
}

.cartName {
	font-size: 12px;
	width: 60%;
}

.itemList {
	max-height: 320px;
	padding-bottom: 36px;
	overflow-y: auto;
}

.materialsTally {
	text-align: left;
	max-height: 400px;
	overflow-y: auto;
	font-size: 12px;
}

.tallyQuantity {
}

.tallyItem {
	word-wrap: normal;
}
