p {
	margin: 0px;
	padding: 0px;
}

.materialsTable {
	padding-top: 0px;
	margin-top: 0px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 14px;
	color: #fff;
	width: 100%;
	padding: 0px;
	height: auto;
}

.subMatCheckbox {
	display: inline-block;
	width: 25px;
	text-align: center;
	
}

.materialImage {
	width: 25px;
	text-align: center;
	display: inline-block;
}

.materialQuantity {
	width: 30px;
	text-align: center;
	display: inline-block;
}

.materialName {
	width: auto;
	display: inline-block;
	cursor: default;
}

.nestedMaterialName {
	width: auto;
	display: inline-block;
	color: #999;
	cursor: default;
}

.nestedMaterialName:hover {
	color: #fff;
}

.nestedTable {
	font-size: 10px!important;
}

.hidden {
	display: none;
}
