.searchIcon {
	display: inline-block;
	padding: 5px;
}

.selectContainer {
	width: 100%;
	margin-left: 61px;
	height: 600px;
	overflow: auto;
	min-width: 350px;
}

.selectedBox {
	width:99.5%;
}

.selectedImg {
	height: 45px;
	vertical-align: middle;
}

.selectedItem {
	font-size: 18 px;
	width: 100%;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 5px;
}

.selectedName {
	color: #fff;
	display: inline-block;
	width: 85%;
	min-width: 300px;
}

.itemInfo {
	height: 1px;
}

.itemNameInfoTable {
	width: 100%;
}

.itemOperation{
	display: inline-block;
	text-align: center;
	cursor: default;
}

.itemOperation:hover{
	background-color: #999;
}

.craftContainer {
	width: 100px;
	vertical-align: top;
}

.crafterInfo {
	border: 1px solid black;
}
