.searchIcon {
	display: inline-block;
	padding: 5px;
}

.selectedBox {
	width: 66%;
	margin-left: 56px;
	height: 600px;
	position: fixed;
	margin-top: 96px;
	overflow: auto;
	min-width: 300px;
}

.selectedImg {
	height: 45px;
	vertical-align: middle;
}

.selectedItem {
	font-size: 18 px;
	width: 100%;
	height: 300px;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 5px;
}

.selectedName {
	color: #fff;
	display: inline-block;
}

.itemInfo {
	height: 1px;
}

.itemOperation{
	text-align: center;
	width: 25px;
	cursor: default;
}

.itemOperation:hover{
	background-color: #999;
}
