.searchIcon {
	display: inline-block;
	padding: 5px;
}

.selectContainer {
	position: relative;
	width: 100%;
	margin-left: 61px;
	height: 80vh;
	overflow: auto;
	min-width: 350px;
	background-color: #222;
}

.selectedBox {
	width:99.5%;
}

.selectedImg {
	height: 45px;
	vertical-align: middle;
}

.selectedItem {
	font-size: 14px;
	width: 100%;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 5px;
}

.selectedName {
	font-size: 18px;
	color: #fff;
	display: inline-block;
	width: 75%;
	min-width: 300px;
}

.itemInfo {
	height: 1px;
	vertical-align: middle;
}

.itemNameInfoTable {
	width: 100%;
}

.itemOperation{
	display: inline-block;
	text-align: center;
	cursor: default;
	height: 100%;
	width: 36px;
	height: 36px;
	vertical-align: middle;
	float: right;
}

.itemOperation:hover{
	background-color: #999;
}

.itemDetails{

}

.craftContainer {
	width: 100px;
	vertical-align: top;
	padding-right: 24px;
	padding-left: 24px;
}

.crafterInfo {
	border: 1px solid black;
}

.materialsContainer {
	width: 80%;
	min-width: 400px;
}
